.sol-third h2{
    text-align: center;
    font: normal normal bold 59px/62px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-top: 10px;
 }
 .sol-third p{
    text-align: center;
    font: normal normal 600 30px/37px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
 }
 .sol-third .third-left{
    margin-top: 100px;
}
 .sol-third .third-right{
    margin: 0 auto;
}

.sol-thirdreport{
    margin-top: -200px;
}
.sol-third{
    position: relative;
    z-index: 5;
}