.sol-fourth{
    background: rgb(240,245,250);
    background: linear-gradient(180deg, rgba(240,245,250,1) 0%, rgba(255,255,255,1) 90%);

}
.sol-fourth h2{
    font: normal normal bold 48px/58px Montserrat;
    letter-spacing: 0px;
    color: #262626;
    text-transform: capitalize;
 }
 .sol-fourth p{
font: normal normal 600 20px/24px Montserrat;
letter-spacing: 0px;
color: #484848;
 }
 .sol-fourth .fourth-left{
    margin-top: 200px;
}
 .sol-fourth .fourth-right{
    margin-top: 91px;
}


.sol-solrow{
    padding-top: 200px;
}
@media screen and (max-width: 767px){

    .sol-solrow{
        flex-direction: column;
    }
.sol-solrow .fourth-left,
.sol-solrow .fourth-right{
    flex-basis: 100%;
    max-width: 100%;
}

}