.pub-sixth{
    margin-top: 300px;
    margin-bottom: 100px;
 }
.pub-sixth h2{
    font: normal normal bold 48px/58px Montserrat;
    letter-spacing: 0px;
    color: #262626;
    text-transform: capitalize;
 }
 .pub-sixth p{
font: normal normal 600 20px/24px Montserrat;
letter-spacing: 0px;
color: #484848;
 }
 .pub-sixth .sixth-left{
    margin-top: 200px;
}

