.trusted{
    position: relative;
    text-align: center;
}
.trusted h3{
    font: normal normal bold 77px/94px Montserrat;
    letter-spacing: 0px;
    color: #262626;
}
.trusted h3 span{
    font: normal normal 600 45px/55px Montserrat;
    letter-spacing: 0px;
    color: #262626;
    display: block;
}