
 .abt-third .third-left{
    margin-top: 150px;
     padding-bottom: 60px;
}
.abt-third .third-left h2{
    font: normal normal bold 43px/53px Montserrat;
    letter-spacing: 0px;
    color: #2B2A2A;
    text-transform: capitalize;

}
.abt-third-back{
    background: rgb(210,230,254);
background: linear-gradient(180deg, rgba(210,230,254,1) 0%, rgba(255,255,255,1) 90%);
margin-top: -5px;
}

.left-location{
    display: flex;
    align-items: center;
    padding-bottom: 60px;
}
.left-location p{
    font: normal normal 400 28px/34px Montserrat;
    letter-spacing: 0px;
    color: #262626;
    text-transform: capitalize;
    padding-left: 40px;
}
.abt-third{
    margin-bottom: 60px ;
}

@media screen and (max-width: 560px){

.left-location {

    flex-direction: column;
}
}