 .pub-secound{
    margin-top: 150px;
 }
 .pub-secound .pub-secound-head{
    padding-left: 84px;
 }
.pub-secound .pub-secound-head h2 {
   font: normal normal bold 40px/49px Montserrat;
   letter-spacing: 0px;
   color: #262626;
    text-transform: capitalize;
 }
.pub-secound .pub-secound-head p {
   /* text-align: center; */
   font: normal normal 600 20px/24px Montserrat;
   letter-spacing: 0px;
   color: #484848;
 }

 .box{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 13px 36px #3C4F7733;
    border: 1px solid #F0F0F0;
    border-radius: 43px;
    display: flex;
    padding: 40px;
 }
 .box .bleft h6{
    text-align: left;
    font: normal normal bold 25px/30px Montserrat;
    letter-spacing: 0px;
    color: #1C3F52;
    margin-top: 10px;
 }
 .box .bright ul li{
     display: flex;
     padding-bottom: 25px;
 }
 .box .bright ul li div:first-child{
    margin-right: 15px;
}
 .box .bright ul li div:last-child b{
    text-align: left;
    font: normal normal bold 20px/24px Montserrat;
    letter-spacing: 0px;
    color: #484848;
}
 .box .bright ul li div:last-child p{
    text-align: left;
font: normal normal 500 16px/19px Montserrat;
letter-spacing: 0px;
color: #484848;
}
.magz{
   position: relative;
   display: flex;
   align-items: center;
   margin-bottom: 78px;
   font: normal normal 500 18px/22px Montserrat;
letter-spacing: 0px;
color: #7A878E;
}

.mag{
   width: 14px;
height: 0px;
border: 6px solid #FF9300;
border-radius: 10px;
margin-right: 10px;
}

@media (max-width: 1024px) {
   .box{
flex-direction: column;
   }
   .pub-secound .pub-secound-head p {
   text-align: center;

   }
.pub-secound .pub-secound-head h2 {
   text-align: center;

}

}