.sol-third h2{
    text-align: center;
    font: normal normal bold 59px/62px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-top: 10px;
 }
 .sol-third p{
    text-align: center;
    font: normal normal 600 30px/37px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
 }
 .sol-third .third-left{
    margin-top: 100px;
    width: 100%;
}
 .sol-third .third-right{
    margin: 0 auto;
}

.sol-thirdreport{
    margin-top: -200px;
}
.sol-third{
    position: relative;
    z-index: 5;
}
.cashxbck{
    background: rgb(240,30,161);
background: linear-gradient(180deg, rgba(240,30,161,1) 0%, rgba(251,90,190,1) 90%);
}
/* .svgflip2 svg{
position: absolute;
} */
@media screen and (min-width: 767px){
    .sol-thirdreport{
        margin-bottom: 150px;

    }


}
@media screen and (max-width: 767px){
    .sol-third .massive-ywaves1{
height: 500px;
    }
    .sol-third .massive-ywaves1 img{
        height: 100%;
            }
}